.div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 23px;
}
.title {
  margin-bottom: 13px;
}
.form {
  margin-top: 24px;
}
.error {
  color: #cc1439;
  max-width: 330px;
}
.inputPassword {
  margin-top: 24px;
  width: 330px;
}
.forgotPassword {
  color: #8d9094;
  text-align: end;
  margin-top: 36px;
  margin-bottom: 24px;
}
.text {
  margin: 18px;
  color: #ffffff;
}
.signUp {
  font-weight: 600;
  color: #397df6;
}
