.div {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #333;
  background: #171717;
  padding: 23px;
}
.title {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
}
.form {
  margin-top: 24px;
}
.error {
  font-size: 14px;
  color: #cc1439;
  max-width: 330px;
}
.inputPassword {
  margin-top: 24px;
  width: 330px;
}
.forgotPassword {
  font-size: 14px;
  font-weight: 400;
  color: #8d9094;
  text-align: end;
  margin-top: 36px;
  margin-bottom: 24px;
}
.text {
  font-size: 16px;
  font-weight: 400;
  margin: 18px;
  color: #ffffff;
}
.signUp {
  font-size: 16px;
  color: #397df6;
}
