.div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 23px;
}

.error {
  color: var(--Danger-500);
}

.policy {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--Primary-300, #4c8dff);
  text-decoration-line: underline;
}

.title {
  margin-bottom: 13px;
}

.signIn {
  font-weight: 600;
  color: var(--Primary-500);
}

.form {
  display: flex;
  flex-direction: column;
  width: 400px;

  input {
    height: 2rem;
    background-color: transparent;
    border: 1px solid gray;

    &:focus {
      outline: 1px solid deepskyblue;
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;

  * {
    font-size: 0.875rem;
  }
}
