.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;

    .linkButton {
      display: block;
      width: 100%;
      margin-top: 20px;
      text-align: center;
    }
  }
}
