.error {
  color: red;
}

.policy {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  color: var(--Primary-300, #4c8dff);
  text-decoration-line: underline;
}

.title {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  text-align: center;
}
