.card {
  width: 100%;
  max-width: 378px;
  padding: 23px 23px 24px;

  background-color: var(--Dark-500);
  border: solid 1px var(--Dark-300);
  border-radius: 2px;

  .title {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .textField {
      margin-top: 37px;
    }

    .submitButton {
      margin-top: 17px;
    }

    .recaptcha {
      margin-top: 24px;
      background-color: var(--Dark-500);
    }

    .instruction {
      margin-top: 7px;

      font-size: var(--font-size-s);
      font-weight: var(--font-weight-regular);
      line-height: var(--line-height-m);
      color: var(--Light-900);
    }

    .backToSignIn {
      margin-top: 24px;

      font-size: var(--font-size-m);
      font-weight: var(--font-weight-semi-bold);
      line-height: var(--line-height-m);
      color: var(--Primary-500);
      text-align: center;
      text-decoration: none;
    }

    .error {
      font-size: var(--font-size-s);
      color: var(--Danger-500);
    }
  }
}
